h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    /* color: inherit; */
}



.link {
    text-decoration: none;
}

.list {
    list-style-type: none;

}
@media (max-width: 375px) {
    .container {
        min-width: 320px;
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (min-width:375px) {
    .container {
        width: 375px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (min-width:1440px) {
    .container {
        width: 1440px;

    }
}

/* Page footer */

.footer-link {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
}
.footer-title {
    width: 335px;
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.23;
    /* 122.727% */
    letter-spacing: -0.03em;
}
.footer-title-text {
    color: var(--white, #ECD979);
    font-size: 44px;
    font-weight: 400;
    line-height: 1.23;
    /* 122.727% */
    letter-spacing: -0.03em;
}
.footer-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 25px;
margin-bottom: 40px;
max-width: 375px;
}

.footer-item {
width: calc((100% - 40px) / 2);
}
.footer {
    margin: 0 auto;
    background-color: #1C2225;
    ;
    padding-top: 40px;
    padding-bottom: 292px;
    border-top: 1px solid rgba(252, 249, 249, 0.10);
    background-image: url(./img/footer-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
@media screen and (min-resolution: 192dpi) and (min-width:375px),
screen and (min-resolution: 2dppx) and (min-width:375px),
screen and (min-device-pixel-ratio: 2) and (min-width:375px) {
    .footer {
        background-image: url(./img/footer-mobile@2.png);
        background-size:375px;
    }
}

@media screen and (min-width: 768px) {
    .footer-title {
        width: 521px;
        color: var(--white, #FCF9F9);
        font-size: 54px;
        line-height: 1.19;
        /* 118.519% */

    }
    .footer-title-text {
        font-size: 54px;
        line-height: 1.19;
        /* 118.519% */
    }
.footer-list {
flex-wrap: nowrap;
max-width: 768px;
margin-bottom: 80px;
}
.footer-item {
    width: auto;
}
.footer {
    padding-bottom: 40px;
    background-image: url(./img/footer-tablet.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 174px;
}
}
@media screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px),
screen and (min-device-pixel-ratio: 2) and (min-width:768px) {
    .footer {
        background-image: url(./img/footer-tablet@2.png);
    }
}

@media screen and (min-width: 1280px) {
.footer-title {
width: 754px;
font-size: 64px;
line-height: 1.16;
/* 115.625% */      
}
.footer-title-text {
font-size: 64px;
line-height: 1.16;
}
.footer-list {
    margin-bottom: 117px;
}
.footer {
background-image: url(./img/footer-desctop-1280.png);
background-size: 336px;
}
}

@media screen and (min-resolution: 192dpi) and (min-width:1280px),
screen and (min-resolution: 2dppx) and (min-width:1280px),
screen and (min-device-pixel-ratio: 2) and (min-width:1280px) {
    .footer {
        background-image: url(./img/footer-desctop-1280@2.png);
    }
}
@media screen and (min-width: 1440px) {
    .footer {
        background-image: url(./img/footer-desctop-1440.png) ;
        background-size: 496px;
    }
}
@media screen and (min-resolution: 192dpi) and (min-width:1440px),
screen and (min-resolution: 2dppx) and (min-width:1440px),
screen and (min-device-pixel-ratio: 2) and (min-width:1440px) {
    .footer {
        background-image: url(./img/footer-desctop-1440.png);
    }
}
